@model EvaluacionAprendizaje.Models.Partials.PremiosCompetidor
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Alta Premio</h2>

<form class="container" method="get" action="./RealizarAltaPremios">
    <div class="form-group">
        <label for="idCompetidor">Competidor: </label>
        <select id="idCompetidor" name="idCompetidor" class="form-control">
            @{
                foreach (var competidor in ViewBag.competidores)
                {
                    <option value="@competidor.id">@competidor.nombre</option>
                }
            }
        </select>
        @Html.ValidationMessageFor(o => o.idCompetidor)
    </div>
    <div class="form-group">
        <label for="anio">Año: </label>
        @Html.EditorFor(o => o.anio)
        @Html.ValidationMessageFor(o => o.anio)
    </div>
    <div class="form-group">
        <label for="cantidadPremios">Cantidad de Premios: </label>
        @Html.EditorFor(o => o.cantidadPremios)
        @Html.ValidationMessageFor(o => o.cantidadPremios)
    </div>
    <button class="btn btn-primary">Dar de Alta</button>
</form>

<div class="container">
    <a class="btn btn-danger" href="./">Cancelar</a>
</div>
